<!-- <h2>Angular5</h2>
OneWayBinding: <input type="text" [value]="name">
<div>{{name}}</div>

TwoWayBinding: <input type="text" [(ngModel)]="name">
<br>
<a [href]="google_link">Google</a>
<br>
<p>{{ 'example' | repeat: 3: '@' }}</p>
<br>
{{ now | date: "yyyy/MM/dd HH:mm:ss"}}
<br>
{{ aaa | json}}
<br>
<button (click)="click_action()">Click Me!</button>

<app-lesson1></app-lesson1>

<app-lesson2></app-lesson2>


<app-lesson3></app-lesson3>

<app-pratice1></app-pratice1> -->

<app-lesson6></app-lesson6>
